<div class="card">
    <div class="card-header">Calcular Numeros
    </div>

    <div class="card-body">
        
        <div class="row">
            <div class="col-md-6">
                <h3>Asigna el número y presiona el botón "calcular"</h3>
            </div>
        </div>

        <div class="table-responsive">
            <!-- *ngIf="products.length" -->
            <table class="table" id="tabla" >
                <thead>
                    <tr>
                        <!-- [(ngModel)]="listfilter" -->
                        <input  type="tet"[(ngModel)]="numero" class="form-control" name="filter" >
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <button (click)="calcular()"type="button" class="btn btn-primary">calcular</button>
                    </td>
                    <td >
                       <tr> <a>{{numero}} x 1 = {{resultado1}}</a></tr>
                        <tr><a>{{numero}} x 2 = {{resultado2}}</a></tr>
                        <tr><a>{{numero}} x 3 = {{resultado3}}</a></tr>
                        <tr><a>{{numero}} x 4 = {{resultado4}}</a></tr>
                        <tr><a>{{numero}} x 5 = {{resultado5}}</a></tr>
                        <tr><a>{{numero}} x 6 = {{resultado6}}</a></tr>
                        <tr><a>{{numero}} x 7 = {{resultado7}}</a></tr>
                        <tr><a>{{numero}} x 8 = {{resultado8}}</a></tr>
                        <tr><a>{{numero}} x 9 = {{resultado9}}</a></tr>
                        <tr><a>{{numero}} x 10 = {{resultado10}}</a></tr>
                    </td>

                </tbody>
            
                
            </table>
        </div>
    </div>